.game-window{
    width: 100vw;
    height: 100vh;
	background: linear-gradient(-45deg, rgb(91, 153, 182), #EE7752, rgb(243, 188, 37), rgb(226, 128, 205));
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    color: black;
    padding-left: 8vw;
    padding-right: 8vw;

}

.game-title{
    color: white;
    font-size: 3.33rem;
    padding-top: 8vh;
    padding-bottom: 8vh; 
}

.game-window__game-options{
    background-color: rgba(255,255,255,.4);
    height: 10vh;
    padding: 2vh;
    border-radius: 13px;


    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px 20px;
}


.lockpick-container{
    margin-top: 8vh;
    background-color: rgba(255,255,255,.4);
    border-radius: 13px;
    padding-top: 4vh;
    padding-bottom: 4vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.image-lock{
    height: 100%;
}

.image-lockpick{
    position: absolute;
    left: 8vw;
    transition: left .3s, top .3s;
}

.image-pin{
    left: 2vw;
}



@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.switch-container{
    display: flex;
    align-items: center;
}

.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 17px;
}

  /* Hide default HTML checkbox */
.switch__input{
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */
.switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
  
.switch__slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

  
.switch__input:checked + .switch__slider{
    background-color: #2196F3;
}
  
.switch__input:focus + .switch__slider{
    box-shadow: 0 0 1px #2196F3;
}
  
.switch__input:checked + .switch__slider:before{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

button{
    padding: 10px;
    background-color: rgba(255,255,255,.8);
    border-radius: 6px;
    transition: box-shadow .3s, background-color .2s;
}
button:hover{
    box-shadow: 0 2px 6px 4px rgba(0,0,0,.15);
}
button:active{
    color: black;
    background-color: white;
    box-shadow: 0 2px 6px 4px rgba(0,0,0,.45);
}

.chamber{
    background-color: green;
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 10px;
    padding-right: 10px;
    height: 200px;
    width: 50px;
    position: relative;
}

.pin{
    background-color: blue;
    width: 30px;
    height: 50px;
    position: relative;
    transition-timing-function: linear;
}




.test{
    width: 50px;
    height: 50px;
    background-color: blue;
    position: absolute;
    top: 50vh;
    left: 50vw;
    z-index: 10;
}